* {
  margin : 0;
  padding: 0;
}

body {
  background-color: #EDEDED;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
}

/* header */
.header .nav {
  height: 45px;
  line-height: 45px;
  background-color: #27282B;
  font-size: 12px;
  color: rgb(174, 194, 194);
  text-align: center;
}
.header .nav img {
  float: left;
  width: 25px;
  height: 25px;
  margin: 10px;
}
.header .nav ul li {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}
.header .nav ul li.active {
  color: azure;
}
.header .nav ul li:last-child {
  position: relative;
}
.header .nav ul li:last-child #download {
  z-index: 999;
  position: absolute;
  left: -40px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  color: #27282B;
  font-weight: bolder;
  display: none;
}
.header .list {
  height: 75px;
  background-color: #fff;
  box-shadow: 0 2px 20px #999;
}
.header .list ul {
  height: 100%;
  line-height: 75px;
  font-size: 15px;
  color: #666;
}
.header .list .container {
  position: relative;
}
.header .list ul li {
  float: left;
  margin-right: 25px;
  cursor: pointer;
}
.header .list ul li.active {
  color: #27282B;
  font-weight: bold;
}
.header .list ul li a:hover {
  color: royalblue;
}
.header .list span.search {
  position: absolute;
  right: 25px;
  bottom: 20px;
  border: 1px solid #999;
  border-radius: 20px;
  width: 328px;
  height: 34px;
}
.header .list span.search button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin: 6px 10px;
}
.header .list span.search input {
  width: 268px;
  height: 100%;
  margin-right: 15px;
  border: none;
  outline: none;
  color: #a79d9d;
  font-size: 16px;
  font-weight: bolder;
}
.header .list span.search #items {
  position: absolute;
  right: 10px;
  top: 6px;
}
.header .list span.search a {
  text-decoration: none;
  padding: 0 10px;
  border: 1px solid #2f73df;
  border-radius: 10px;
  background-color: #E5EFFF;
  color: #2f73df;
  font-size: 12px;
  font-weight: bolder;
}
/* 补充一下下拉菜单 */
.show-box {
  z-index: 666;
  position: absolute;
  left: -50px;
  top: 75px;
  width: 1320px;
  min-height: 266px;
  border-top: 1px solid #000;
  background-color: #fff;
}
.show-box div {
  width: 1000px;
  margin: 0 auto;
}
.show-box div a {
  display: inline-block;
  height: 266px;
}
.show-box div a img {
  display: block;
}
.show-box div a span {
  display: block;
  width: 100%;
  text-align: center;
}
.hide {
  display: none;
}
.header .list .container div:hover .show-box  {
  display: block;
}

/* main */
main {
  width: 100%;
}
.main .container {
  padding: 25px 0;
  position: relative;
}
main .nav-items {
  width: 1220px;
  height: 554px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
main .nav-items img {
  display: block;
  width: 1220px;
  position: absolute;
  opacity: 0;
  display: none;
}
main .nav-items img:first-child {
  display: block;
  opacity: 1;
}
.main .container span {
  position: absolute;
  top: 270px;
  font-size: 50px;
  cursor: pointer;
}
.main .container span:hover {
  background-color: #fff;
  opacity: 0.5;
}
.main .container span#lt {
  left: 0;
}
.main .container span#gt {
  right: 0;
}